body{ background-color:#fff;}
.container{}

/*Fix Firefox 45.0.1*/
.row{ max-width:calc(100% + 20px);}

/*e_row_1*/

.e_row_1{}
@media (min-width: 768px){
}
@media (min-width: 1200px){
	.e_row_1{
		display:-webkit-flex;
		display:flex;
		-webkit-align-items:flex-end;
		align-items:flex-end;
	}
}
@media (min-width: 1600px){
}

.n_row_video{ background:url(../assets/images/grid1.png) right top no-repeat; background-size:100%;}
.n_row_video .c2{ margin-top:20px;}
@media (min-width: 768px){
}
@media (min-width: 1200px){
	.n_row_video{ background-size:45%; background-position:70% top;}
	.n_row_video .c2{ margin-top:0}
}

.n_row_tech{}
.n_row_tech .c2 .txtcontent{ padding-bottom:0}

@media (min-width: 1200px){
	.n_row_tech{}
	.n_row_tech .c2 .txtcontent .bd,
	.n_row_tech .c2 .txtcontent .bd p:first-child{ margin-top:0}
}

/*n_row_ref*/
.n_row_ref{}
.n_row_ref .c2{ margin-top:1.25em}
.n_row_ref .c2 .txtcontent{ padding-bottom:0}
.n_row_ref .c4,
.n_row_ref .c5,
.n_row_ref .c6,
.n_row_ref .c7{ margin-top:1.25em}

@media (min-width: 1200px){
	.n_row_ref .c2 .txtcontent .hd{ padding-top:3.5em}
	.n_row_ref .c2 .txtcontent .bd,
	.n_row_ref .c2 .txtcontent .bd p{ margin-top:0}
	.n_row_ref .c3{ margin-top:1.25em}
	.n_row_ref .c4{ margin-top:-1.25em}
}

@media (min-width: 1600px){
	.n_row_ref .c2 .txtcontent .hd{ padding-top:2em}
	.n_row_ref .c4{ margin-top:0}
}

/*e_row_2*/

.e_row_2{ background:url(../assets/images/grid1.png) right top no-repeat; background-size:100%;}
.e_row_2 .c3{ margin-top:20px}
@media (min-width: 768px){
}
@media (min-width: 1200px){
	.e_row_2 { background-size:45%;
		display:-webkit-flex;
		display:flex;
	}
	.e_row_2 .c2{
		display:-webkit-flex;
		display:flex;
		-webkit-align-items:flex-end;
		align-items:flex-end;
	}
	.e_row_2 .c3{ margin-top:0;}
}

/*e_row_3*/
.e_row_3 .c1{
	border-width:34px 24px;
	border-image:url(../assets/images/sqshadow.png) 34 24 stretch;
	border-style:solid;
}
@media (min-width: 1200px){
	.e_row_3{ margin-left:-34px; margin-right:-24px; max-width:calc(100% + 44px)}
	.e_row_3 .c1{
		border-width:34px 24px 34px 0;
	}
	.e_row_3 .c2{
		margin:-34px 0 -34px -24px;
		border-width:34px 0 34px 24px;
		border-image:url(../assets/images/sqshadow.png) 34 24 stretch;
		border-style:solid;
	}
}

/*e_row_4*/
.e_row_4{ padding:1.25em 0;}
.e_row_4 .c4{ margin-top:1.25em}
@media (min-width: 1200px){
	.e_row_4{ padding:3.75em 0;}
	.e_row_4 .c3{ position:relative; top:5em}
	.e_row_4 .c4{ margin-top:0}
}

/*e_row_5*/
.e_row_5 .c1{
	border-width:34px 24px;
	border-image:url(../assets/images/sqshadow.png) 34 24 stretch;
	border-style:solid;
}
.e_row_5 .c2{ padding:1.25em 10px;
	background-color:#efefef;
}
@media (min-width: 1200px){
	.e_row_5{ margin-left:-34px; margin-right:-34px; max-width:calc(100% + 68px)}
	.e_row_5 .c2{ padding:1.25em 0;}
}

/*n_row_concepts*/
.n_row_concepts img{ width:100%;}
.n_row_concepts .c2{ margin-top:20px}
.n_row_concepts .c3{ margin-bottom:20px}
@media (min-width: 1200px){
	.n_row_concepts{ padding-bottom:20px}
	.n_row_concepts .c1,
	.n_row_concepts .c2{ min-width:calc(33.33333333% + 50px)}
	.n_row_concepts .c2{ position:relative; top:20px; margin-top:0}
	.n_row_concepts .c3{ position:absolute; max-width:calc(100% - 20px); margin-bottom:0}
}
@media (min-width: 1600px){
	.n_row_concepts .c2{ min-width:calc(37.5%)}
}

.n_row_concepts2{ background:url(../assets/images/grid2.png) center top no-repeat; background-size:100%;}
.n_row_concepts2 img{ width:100%;}
.n_row_concepts2 .c3{ margin-bottom:20px;}
@media (min-width: 1200px){
	.n_row_concepts2{ padding-top:20px; background-size:45%; background-position:left bottom;}
	.n_row_concepts2 .c1{ padding-top:0; padding-left:3.75em}
	.n_row_concepts2 .c1 .txtcontent .bd,
	.n_row_concepts2 .c1 .txtcontent .bd p{ margin-top:0}
	.n_row_concepts2 .c2,
	.n_row_concepts2 .c3{ min-width:calc(33.33333333% + 45px)}
	.n_row_concepts2 .c3{ position:absolute; max-width:calc(100% - 20px); margin-bottom:0}
}
@media (min-width: 1600px){
	.n_row_concepts2 .c2{ min-width:calc(37.5%)}
}

.pic_sp1{}

@media (min-width: 768px){
}
@media (min-width: 1200px){
	.pic_sp1{ position:relative; top:-6.6em}
}
@media (min-width: 1600px){
	.pic_sp1{ top:-8.5em}
}

/*txtcontent*/
.txtcontent{ font-size:.875rem; padding-bottom:1em}
.txtcontent .hd{ font-size:1.125em; margin:0; text-transform:uppercase;}
.txtcontent .hd:before{ content:''; display:inline-block; vertical-align:middle; width:3.5em; height:.125em; background-color:#000}
.txtcontent .hd .t{ display:inline-block; vertical-align:middle; padding-left:.5em}
.txtcontent h2{ margin:0; font-size:2em; text-transform:uppercase;}
.txtcontent .bd{ margin-top:.5em}
.txtcontent .bd p{ margin:0; margin-top:1em; text-align:justify; line-height:1.45}
.txtcontent .bd p strong{ font-weight:normal}

@media (min-width: 768px){
	.txtcontent{}
}
@media (min-width: 1200px){
	.txtcontent{ padding-bottom:0}
}
@media (min-width: 1600px){
	.txtcontent{ font-size:1rem}
	.txtcontent .bd p{ line-height:2}
}

.e_txtcontent_1{ padding:1.2em 2em; border:#000 .3em solid;}
.e_txtcontent_2{ padding:1.2em 2em; border:#4848ff .3em solid;}
.e_txtcontent_3{ color:#fff}
.e_txtcontent_3 .hd:before{ background-color:#fff}
.n_txtcontent_big h2{ font-size:3em}

/*videoWrap1*/
.videoWrap1{ position:relative; background-color:#000}
.videoWrap1 img{ width:100%; opacity:0}
.videoWrap1 iframe{ position:absolute; left:0; top:0; width:100%; height:100%;}

/* #fvintro
----------------------------------------------------------------*/
#fv_intro{
	background-color:#efefef;
}
#fv_intro .story{ position:relative; background:url(../assets/images/fv_banner.jpg) center bottom no-repeat; background-size:cover;}
#fv_intro .container{ padding-top:6.875em; padding-bottom:2em}
#fv_intro .banner{ font-size:.75rem;}
#fv_intro .banner .pjlogoWrap{ display:none}
#fv_intro .banner .pjlogo{ width:73%;}
#fv_intro .banner .title{ margin:0; font-size:4.5em;}
#fv_intro .banner p{ margin:0; line-height:1}
#fv_intro .banner .desc1{ margin-top:.75em;}
#fv_intro .banner .desc1 .t{ font-size:2em; line-height:1.5em; margin-top:.375em; background:rgba(255,255,255,.8); word-wrap:break-word;}
#fv_intro .banner .desc1 .t:first-child{ margin-top:0;}
#fv_intro .banner .desc2{ margin-top:1em}
#fv_intro .banner .desc2 .t{ display:inline-block; font-size:2em; line-height:1.25}
#fv_intro .banner .selfIntro{ margin-top:1em}
#fv_intro .banner .selfIntro ul{ padding-left:0; list-style:none; margin:0;}
#fv_intro .banner .selfIntro .item{ font-size:1.25em}

@media (min-width: 768px){
	#fv_intro .container{ padding-top:7.5em;}
	#fv_intro .banner{}
	#fv_intro .banner .pjlogoWrap{ display:block;}
	#fv_intro .banner .title{ margin-left:-.5em}
	#fv_intro .banner .desc1,
	#fv_intro .banner .desc2,
	#fv_intro .banner .selfIntro{ margin-left:-2.25em}
	#fv_intro .banner .desc1 .t{ padding:0 .375em; font-size:3em}
	#fv_intro .banner .desc2 .t{ font-size:3em}
}
@media (min-width: 1200px){
	#fv_intro .story{ background-size:contain;}
}
@media (min-width: 1600px){
	#fv_intro .banner{ font-size:1rem;}
}


/* #fv_fourth
----------------------------------------------------------------*/
#fv_fourth{ background-color:#efefef}

/* #fv_fifth
----------------------------------------------------------------*/
#fv_fifth .container{}

/* #fv_sixth
----------------------------------------------------------------*/
#fv_sixth .container{}

#fv_sixpointseventh .story{ width:100%; overflow:hidden;}

/*fv_eightth
----------------------------------------------------------------*/
#fv_eightth{ background:#e0e0e0 url(../assets/images/tribg.jpg)  center top repeat;}

/* #twelveth
----------------------------------------------------------------*/
#twelveth{ background:#fff url(../assets/images/bgchild.jpg) center center no-repeat; background-size:cover;}

/* #thirteenth
----------------------------------------------------------------*/
#thirteenth{ background:#a3a3aa url(../assets/images/tribg.png)  center top repeat;}

@media (min-width: 1200px){
	#fv_eightth,
	#twelveth,
	#thirteenth{ background-attachment:fixed;}
}
