.topnav{ position:absolute; top:0; left:0; right:0; width:100%;}
.topnav_bd{ width:75%; max-width:1200px; padding:0 20px;}
.topnav .logo{ float:left; padding-top:30px; padding-bottom:0}

.navlist{ position:static; width:auto; background:none; box-shadow:none; float:right;-webkit-backdrop-filter:none;}
.navlist .item{ float:left; padding-top:30px}
.navlist .lk{ font-size:1.25em}
.pg_banner_bd{ padding:121px 0 0; height:229px; max-width:1600px;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
.pg_banner .tit{ font-size:3.5em;}
.pg_banner .subtit{ margin-top:-15px; font-size:1.25em}
.pg_banner .com{ margin-top:25px}

.mod_bd{ padding:30px 0;}
.mod .desc{ margin:5px auto 0; width:62.5%; max-width:1000px;}

.imgWrap{ padding:25px 20px 0;}
.videoWrap{ width:100%; max-width:900px}
.videoWrap .placer{ display:block; opacity:0}
.videoWrap .video{ position:absolute; left:0; top:0; width:100%; height:100%}

.pos_dots{ bottom:auto; top:50%; margin-top:-170px}
.pos_dots .c1{ display:block}

.selfIntro{ background:url(../assets/images/spacer1.png) center center repeat-y; background-size:2px 30px; margin:0 auto; width:48%; max-width:880px;}
.selfIntro .c1,
.selfIntro .c2{ width:50%}
.selfIntro .t{ width:97%; padding-left:5%; text-align:left}
.selfIntro .c{ padding-left:5%}

.selfIntro .t{ width:25%; padding-left:3%; text-align:right}
.selfIntro .c{ padding-left:3%; padding-right:3%}

.hr1{ width:240px; margin:35px auto;}
	
.pos_dots .c2 .lk .arr{ display:block; height:50px; background:url(../assets/images/toparr.png) -50px 0 no-repeat;}

