.container{ min-height:400px;}

.topnav{ position:relative; background:rgba(255,255,255,.9); box-shadow:rgba(0,0,0,.3) 0 0 5px; z-index:1000}
.topnav_bd{ padding:0 5%; margin:0 auto;}
.topnav .logo{ width:275px; margin:0 auto; padding-top:100px; padding-bottom:40px;}

.navlist{ position:fixed; top:0; left:0; right:0; width:100%; background:rgba(255,255,255,.7); box-shadow:rgba(0,0,0,.3) 0 0 3px; z-index:1000;
    -webkit-backdrop-filter:saturate(180%) blur(10px);
}
.navlist .item{ float:left; padding-top:10px}
.navlist .lk{ display:block; height:26px; line-height:26px; white-space:nowrap; padding:12px; font-family:century_gothicregular; color:#666}
.navlist .select .lk,
.navlist .lk:active,
.navlist .lk:hover{ color:#f84197}

.pg_banner_bd{ padding:3.5% 5%; margin:0 auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
.pg_banner .tit{ font-size:1.5em;}
.pg_banner .subtit{ font-size:1.125em}
.pg_banner .tit,
.pg_banner .subtit{}
.pg_banner .dc{ line-height:1.5em}
.pg_banner .com{ margin-top:5px}

.dotlist{ padding-left:20px}
.dotlist li{ list-style:square;}

.scewwrap{ position:relative; background:rgba(255,255,255,.6); border-radius:10px; overflow:hidden;
	box-shadow:rgba(0,0,0,.2) 0 0 15px
}
.scewwrap .c1{ padding:20px 20px 0;
	font-weight:bold;
}
.scewwrap .c1 .t{}
.scewwrap .c2{ padding:20px; overflow: hidden;}

.sidephone{ position:relative;}
.sidephone .c1{}
.sidephone .c2{ text-align:center;}

.mod{}
.mod_bd{ padding:3.5% 5%; text-align:justify;}
.mod .desc{ margin:5px auto 0;}
.mod .tit{ font-family:century_gothicregular}

.imgWrap{ padding:10px 5% 0; text-align:center;}
.imgWrap .inner{ position:relative; display:inline-block; vertical-align:top}
.imgWrap .inner .imgAni{ position:absolute; width:100%; height:100%; left:0; top:0}
.imgWrap .inner .imgAni img{ max-width:100%; max-height:100%}
.imgWrap .inner .placer{ opacity:0; visibility:hidden;}
.videoWrap{ position:relative; margin:10px auto 0; text-align:center;}
.videoWrap .placer{ display:none; width:100%}
.videoWrap .control{ cursor:pointer; position:absolute; width:100%; height:100%; top:0; left:0; background:#000 url(../assets/images/play@2x.png) center center no-repeat; background-size:80px 80px}
.videoWrap .video{ width:100%}

.imgWrap .cols3 .area{}

.pos_dots{ position:fixed; right:0; bottom:30px; width:50px;}
.pos_dots .c1{ display:none; padding:20px 0; background:rgba(0,0,0,.5); border-radius:18px 0 0 18px}
.pos_dots .c1 .lk{ display:block; padding:10px 20px;}
.pos_dots .c1 .lk .dot{ display:block; width:10px; height:10px; font-size:0; overflow:hidden; border-radius:5px; background-color:#999}
.pos_dots .c1 .active .dot{ background-color:#fff}
.pos_dots .c2{ margin-top:40px; background:rgba(0,0,0,.5); border-radius:18px 0 0 18px}
.pos_dots .c2 .lk{ display:block;}
.pos_dots .c2 .lk .arr{ display:block; height:50px; background:url(../assets/images/toparr@2x.png) -50px 0 no-repeat; background-size:100px 50px}
.pos_dots .c2 .lk:active .arr,
.pos_dots .c2 .lk:hover .arr{ background-position:0 0}

.selfIntro{ margin:0 auto; padding:0 5%; line-height:1.8em; text-align:left;}
.selfIntro .c1,
.selfIntro .c2{ width:100%; float:left;}
.selfIntro .t{ float:left; text-align:right; width:35%; padding-right:3%; font-weight:bold}
.selfIntro .c{ overflow:hidden}

.copyright .bd{ margin:0 auto; max-width:1200px; border-top:#a13696 1px solid; color:#a13696}

@media screen and (min-width:768px){
	.topnav{ position:fixed; top:0; left:0; right:0; width:100%;}
	.topnav_bd{ width:75%; max-width:1200px; padding:0 20px;}
	.topnav .logo{ float:left; padding-top:30px; padding-bottom:3px}

	.navlist{ position:static; width:auto; background:none; box-shadow:none; float:right;-webkit-backdrop-filter:none;}
	.navlist .item{ float:left; padding-top:30px}
	.navlist .lk{ padding:12px 20px; font-size:1.25em}
	.pg_banner_bd{ padding:121px 0 0; height:229px; max-width:1600px;
		-webkit-box-sizing:content-box;
		-moz-box-sizing:content-box;
		-o-box-sizing:content-box;
		-ms-box-sizing:content-box;
		box-sizing:content-box;
	}
	.pg_banner .tit{ font-size:3.5em;}
	.pg_banner .subtit{ margin-top:-15px; font-size:1.25em}
	.pg_banner .com{ margin-top:25px}

	.mod_bd{ padding:30px 0;}
	.mod .desc{ margin:5px auto 0; width:62.5%; max-width:1000px;}

	.imgWrap{ padding:25px 20px 0;}
	.videoWrap{ width:100%; max-width:900px}
	.videoWrap .placer{ display:block; opacity:0}
	.videoWrap .video{ position:absolute; left:0; top:0; width:100%; height:100%}

	.imgWrap .cols3 .area{ width:33%; float:left;}
	.imgWrap .cols3 .dotlist{ width:68%; margin:0 auto;}

	.scewwrap .c1{ padding:0; position:absolute; overflow:hidden; left:0; top:0; height:100%; width:200px;
		background-image:url(../assets/images/scewbg.png);
		background-image:-webkit-image-set(url(../assets/images/scewbg.png) 1x,url(../assets/images/scewbg@2x.png) 2x);
		background-position:right 0;
		background-repeat:no-repeat;
		background-size:cover;
		padding-left:30px;
	}
	.scewwrap .c1 .t{ position:absolute; left:30px; width:100%; line-height:30px; top:50%; margin-top:-15px;}
	.scewwrap .c2{ padding:20px 20px 20px 250px;}

	.sidephone .c1{ float:left; width:67%}
	.sidephone .c2{ position:absolute; right:-5%; width:35%; bottom:0; overflow:hidden;}

	.pos_dots{ bottom:auto; top:50%; margin-top:-170px}
	.pos_dots .c1{ display:block}

	.selfIntro{ background:url(../assets/images/spacer1.png) center center repeat-y; background-size:2px 30px; margin:0 auto; width:48%; max-width:880px;}
	.selfIntro .c1,
	.selfIntro .c2{ width:50%}
	.selfIntro .t{ width:97%; padding-left:5%; text-align:left}
	.selfIntro .c{ padding-left:5%}

}
@media screen and (min-width:1200px){
	.selfIntro .t{ width:25%; padding-left:3%; text-align:right}
	.selfIntro .c{ padding-left:3%; padding-right:3%}
}