/* bootstrap
----------------------------------------------------------------*/

/* layout
----------------------------------------------------------------*/

.page{ margin:0 auto;}

/* #intro
----------------------------------------------------------------*/
#intro{
	background-image:url(../assets/images/port.png),url(../assets/images/fo.png),url(../assets/images/lio.png);
	background-position:right 10%,left 30%,40% 60%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:48%,22%,40%;
}
#intro .container{ padding-top:4.5%}

/* logo */
.logo{ margin:0; font-size:.7rem;}
.logo .c1{ float:left; line-height:1; margin-right:2.25em;}
.logo .c1 .iconsvg{ font-size:4.375em;}
.logo .c1 .t{ position:absolute; opacity:0; width:0; height:0; overflow:hidden; font-size:0;}
.logo .c2{ overflow:hidden; line-height:1.375em; padding-top:1.5em}
.logo .c2 i{ width:6.25em; height:.25em; background-color:#000; display:block;}
.logo .c2 .slogan{ display:inline-block; margin-top:1.1em; font-size:1.5em; vertical-align:top; text-transform:uppercase; letter-spacing:.08em}

/*hello*/
.hello{ font-size:.875rem; margin-top:1em;}
.hello p{ font-size:1.125em; margin:0; line-height:1.5em}
.hello p .icon-tri{ display:inline-block; font-size:1.25em; color:#ff5151; line-height:1.5em;
	transform:rotate(-90deg);
}

.works{ padding-top:1%}
.works ul,
.works li{ list-style:none}
.works ul{ padding-left:0;}

.works .item{ padding-top:10px; padding-bottom:10px}
.works .item .pic{ position:relative; overflow:hidden;}
.works .item .pic img{ width:100%}
.works .item .pic p{ width:200%; margin:0 0 0 -100%;}
.works .item .lk{ position:absolute; z-index:10; left:0; top:0; width:100%; height:100%; text-indent:-9999em;}
.works .item .lk:active + .pic p,
.works .item .lk:hover + .pic p{ margin:0}
.works .item .desc{ position:absolute; z-index:9; left:0; top:0; width:100%; height:100%; overflow:hidden; background:rgba(0,0,0,.3); opacity:0; border:#f6f8fa 10px solid;}
.works .item .lk:active ~ .desc,
.works .item .lk:hover ~ .desc{ opacity:1}

/* #second
----------------------------------------------------------------*/

#second{ height:800px;
	background-image:url(../assets/images/bgcity.jpg);
	background-color:#141617;
	background-position:center 0;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
#second .story{}

/* #third
----------------------------------------------------------------*/

#third{ height:200px;
	background-color:#f6f8fa;
	background-attachment:fixed;
}
#third .story{}



/* bootstrap & media query
----------------------------------------------------------------*/

@media (min-width: 768px){

	/*logo*/
	.logo{ font-size:.8rem}

	/*hello*/
	.hello{ font-size:1rem; margin-top:0}
	.hello p{ text-align:right;}
	.hello p .icon-tri{
		transform:none;
	}

}

@media (min-width: 1003px){

	/*logo*/
	.logo{ font-size:1rem}
	
}

@media (min-width: 1440px){
	
}

