/* 1 文字
================================================================*/


/* 文字色
----------------------------------------------------------------*/

/* 默认文字色 */
.c_t0,body{ color:#000}
/* 强文字色 */
.c_t1{ color:#364450}
/* 强文字色2 */
.c_t2{ color:#1c81c1}
/* 弱文字色 */
.c_t3{ color:#999;}
/* 弱文字色2 */
.c_t4{ color:#abf3ff;}
/* 强文字色3 */
.c_t5{ color:#ffce23}
/* 白色 */
.c_tw{ color:#fff;}

/* 链接色
----------------------------------------------------------------*/

/* 默认链接色 */
a.c_a0,a{ color:#366;}
a.c_a0:active,a:active{ color:#366}
/* 强链接色 */
a.c_a1{ color:#366}
a.c_a1:active{ color:#366}
/* 弱链接色 */
a.c_a2{ color:#366}
a.c_a2:active{ color:#366}

/* 表单元素色
----------------------------------------------------------------*/

:root ::-webkit-input-placeholder{ color:#e29d69;}
:root :-webkit-input-placeholder{ color:#e29d69;}


/* 2 边框
================================================================*/

.c_bor1{ border-color:#ccc}





/* 3 背景
================================================================*/

/* 背景色
----------------------------------------------------------------*/
.c_bg0,body{ background-color:#f6f6f6}/* 默认页面背景色 */

